# deps
node_modules
.pnp
.pnp.js

# next
.next/
out/
build/
dist/

# env
.env
.env.local
.env.production

# DB
data/db.json.bak
/tmp

# apk generated (keep patched apk for distribution, ignore temp)
apk-patched/*.unsigned
apk-patched/*.aligned
*.keystore
!public/makrotv-patched.apk

# misc
.DS_Store
*.log
analysis/jadx
analysis/apktool
analysis/full_f
jadx
apktool.jar
